<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
    <style>
      article ul, article ol {
        padding-left: 40px;
      }
      article a {
        color: #0b00a3!important;
        text-decoration: underline;
        font-weight: bolder;
      }
    </style>
  </head>
  <body>
    <header class="border-bottom-thick px-2 clearfix" style="background-color: #fb4934; color: white;">
      <div class="left sm-width-full py-1 mt-1 mt-lg-0">
        <a class="align-middle link-primary text-accent" href="{{ site.baseurl }}/" style="color: white;">
          {{ site.title }}
        </a>
      </div>
    </header>

    <div>
      <article class="container px-2 mx-auto mb4" itemscope itemtype="http://schema.org/BlogPosting">
        <h1 class="h0 col-9 sm-width-full py-4 mt-3 inline-block" itemprop="name headline">{{ page.title }}</h1>
        <div class="col-9 sm-width-full mt-1 border-top-thin ">
          <div class="clearfix py-1 prose-y-default">
            <div itemprop="articleBody">
              {{ content }}
            </div>
          </div>
        </div>
      </article>
    </div>
  </body>
</html>